<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="comments_wrapper clearfix">
        <div class="pull-left">
          <p class="lead"><%= comment.body %></p>
          <p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.name %></small></p>
        </div>
        <div class="btn btn-group btn-default pull-right">
          <% if comment.user == current_user -%>
            <%= link_to '没领走想重来', job_comment_path(@job, comment), class: "btn btn-primary",method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
