<div class="container">
  <div class="row">
		<div class="col-md-12 col-centered">
			<br>
			<br>
			<br>
			<div class="daxiajuzhong">
				<h1>大侠暂且留步，请听小弟一言：</h1>
				<h1>为了本站可持续发展，还请在得知解法后，</h1>
				<h1>回到本站留下痕迹<%= link_to 'I will be back，', new_job_path %></h1>
				<h1>让后来人知道，他并不孤独；</h1>
				<h1>也有大侠，和自己一路，</h1>
				<h1>小弟在这里替后来人跪谢大侠了!</h1>
			</div>
			<br>
			<div class="daxiawaiwang">
				<a target=" daxiawaiwang" href="https://fullstack-hq.slack.com/" class: "btn btn-success">去slack上找助教玩耍</a>
			</div>
		</div>
	</div>
</div>

<br》

<form name="formmain" id="formmain" onsubmit="search()" class="text-center">
      <div class="form-input">
        <input name="city" type="text" id="city" value="" placeholder="输入bug找bug" class="searchinput">
      </div>

      <div class="form-checkbox">
        <label class="checkbox-inline">
          <input name="radio" type="radio" id="logdown" value="" checked><a>去搜索logdown</a>
        </label>
        <label class="checkbox-inline">
          <input name="radio" type="radio" id="stackoverflow" value=""><a>stackoverflow</a>
        </label>

      </div>
      <div class="form-group">
        <input type="button" name="Submit" value="我去也" onclick="search()" target="_blank" id="searchbutton" class="searchbutton">
      </div>
    </td>
  </form>

  <script>
    function search() {
      if (formmain.logdown.checked){
 	    var city;
      var keyword;
      keyword = encodeURI(":site logdown.com");
 	    city = encodeURI(formmain.city.value);
 	    window.open("http://www.google.com/search?hl=zh-CN&q=" + city + keyword);
     }
      if (formmain.stackoverflow.checked){
        var city;
   	    city = encodeURI(formmain.city.value);
   	    window.open("http://stackoverflow.com/search?q="+ city);
       }
   }
   </script>
