<div class="container">
  <div class="row">
		<div class="col-md-12 col-centered">
			<br>
			<br>
			<br>
			<div class="daxiajuzhong">
				<h1>大侠暂且留步，请听小弟一言：</h1>
				<h1>为了本站可持续发展，还请在得知解法后，</h1>
				<h1>回到本站留下痕迹<%= link_to 'I will be back，', new_job_path %></h1>
				<h1>让后来人知道，他并不孤独；</h1>
				<h1>也有大侠，和自己一路，</h1>
				<h1>小弟在这里替后来人跪谢大侠了!</h1>
			</div>
			<br>
			<div class="daxiawaiwang">
				<a target=" daxiawaiwang" href="https://fullstack-hq.slack.com/" class: "btn btn-success">去slack上玩耍</a>
				<a target=" daxiawaiwang" href="http://stackoverflow.com/">stackoverflow</a>
			</div>
		</div>
	</div>
</div>
