/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //---------Navbar---------

.navbar-default {
    background-color: rgb(197, 47, 36);//背景色
    border-color: rgb(197, 47, 36);//边框
    padding-bottom: 5px;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #ffffff;//左边ibug颜色

    line-height: 30px;
    font-size: 40px;

}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(25,187,49);//
    background-color: transparent;
    font-size: 40px;

}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;//登录
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(25,187,49);//
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(197, 47, 36);
    background-color: rgb(197, 47, 36);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: rgb(197, 47, 36);
    color: #212121;
}

//---------Box---------

.box {
    background-image: url("http://ww1.sinaimg.cn/large/006tNbRwgy1fex4qhya6dj31560q9qq7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: -20px;
    padding-bottom: 100px;

    .box-inner {
        background-color: rgba(250, 250, 250, 0.69);

        padding-bottom: 50px;
        margin-top: 200px;
        margin-bottom: 150px;
    }

    .title {
        font-size: 100px;
        text-align: center;
        padding: 60px 0px;
    }

    .slogan {
        color: #222;

        margin-top: 25px;
        margin-bottom: 55px;
        text-align: center;
        font-size: 25px;
        top: 12px;
    }

    .leadleft {
      float: left;
      margin-left:35%;
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
    .leadright {
      float: right;

      margin-right:35%;
        margin-bottom: 60px;
        text-align: center;
        color: white;
    }
}

//---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}


footer {
    color: white;
}

footer .footer-below {
  margin-top:10px;

    padding: 15px 0;
    background-color: rgb(197, 47, 36);//背景色
}

//回到顶部
#gotop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgb(25,187,49);//
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 9px;
  cursor: pointer;

  display: none; /*默认先隐藏掉*/
}


//sidebar背景色
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: rgb(197, 47, 36);//背景色
}
.nav-pills .nav-pills :hover,
.nav-pills .nav-pills :focus {
    color: rgb(25,187,49);//
}


//送mac
.dibusongmac{}
.dibusongmactext {
  text-align: center;
}
.dibusongmacimage{
text-align:center!important;
    margin: 0 25% ; /*水平居中*/
    max-width: 50%;
    height: auto;
}

// 轮播图 game
.carousel {
  width: 564px;
  height:238px;
  margin: 0 auto;
}
.carousel .item {
  height: 375px;
  margin: 0 auto;
}

// col居中
.col-centered{
  float:none;
  margin:0 auto;
}

// 小游戏文字居中
.game{
  text-align:center
}

// 按钮属性
// 颜色
.btn-danger {
     color: #ffffff;//字体颜色
     background-color: #D52E28;//背景颜色
     border-color: #D52E28  ;//边框颜色
 }
 .btn-danger:hover {
      color: #ffffff;//字体颜色
     background-color: #071BC7;//鼠标放置在btn上的背景颜色
     border-color: #071BC7;//鼠标放置在btn上的边框颜色
 }
 .btn-success{
      color: #ffffff;//字体颜色
      background-color: #5CB85C;//背景颜色
      border-color: #5CB85C  ;//边框颜色
  }
  .btn-success:hover {
       color: #ffffff;//字体颜色
      background-color: #071BC7;//鼠标放置在btn上的背景颜色
      border-color: #071BC7;//鼠标放置在btn上的边框颜色
  }

//元件表名上下款
  .panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
// 找bug列表 丢bug位置
.diubug{
  margin-top : 12px;
  margin-right: 15px;
}
// 找bug列表 排序位置
.paixu{
  margin-top : 12px;
  margin-bottom:  15px;
  margin-right: 5px;
}

// 搜索栏
// .navbar-left {
//   margin: 20px auto;
//   width: 50px;
//   height: 10px;
//
// }
input-group {
  background: transparent;
border: none;
bottom: 0;
box-sizing: border-box;
left: 0;
margin: 0;
outline: none;
padding: 0 8px;
position: absolute;
top: 2px;
width: 100%;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

// search show
.searchcenter{
  text-align:center
}
