/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //---------Navbar---------

.navbar-default {
    background-color: #D52E28;//背景色
    height:50px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-radius: 0;
    border-color:#D52E28;
}

.navbar-default .navbar-brand {
    color: #ffffff;//左边ibug颜色
    font-size:170%;
    line-height: 30px;
    // font-size: 40px;
     font-weight:700;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5CB85C;//
    background-color: transparent;
    // font-size: 40px;

}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;//登录
    line-height: 30px;
    font-size:100%;
    font-weight:900;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(25,187,49);//
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(197, 47, 36);
    background-color: rgb(197, 47, 36);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: rgb(197, 47, 36);
    color: #212121;
}
// navbar悬浮
.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}
// // footer悬浮
// html {
//    position: relative;
//    min-height: 100%;
//  }

 body {
   /* Margin bottom by footer height */
   margin-bottom: 100px;
 }

//---------Box---------

.box {
    background-image: url("http://ww1.sinaimg.cn/large/006tNbRwgy1fex4qhya6dj31560q9qq7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-26px;
    padding-top: -20px;
    padding-bottom: 100px;

    .box-inner {
        background-color: rgba(250, 250, 250, 0.69);

        // padding-bottom: 50px;
        margin-top: 200px;
        margin-bottom: 150px;
    }

    .title {
        font-size: 100px;
            font-weight: 900!important;
        text-align: center;
        padding: 60px 0px;
        color: #272C34;
    }

    .slogan {
        color: #222;

        margin-top: 25px;
        margin-bottom: 55px;
        text-align: center;
        font-size: 25px;
        top: 12px;
    }

    .leadleft {
      float: left;
      margin-left:35%;
        margin-bottom: 60px;
        text-align: center;
        color: white;
        margin: 30px 0px 30px 35%;
    }
    .leadright {
      float: right;

      margin-right:35%;
        margin-bottom: 60px;
        text-align: center;
        color: white;
        margin: 30px 35% 30px 0px;

    }
}

//---------Content---------

.content-section-a {
    padding: 320px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 320px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    color:#272C34;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    color:#272C34;
}


// footer {
//     color: white;
// }
//
// footer .footer-below {
//   margin-top:10px;
//
//     padding: 15px 0;
//     background-color: rgb(197, 47, 36);//背景色
// }


.footer {

   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: rgb(197, 47, 36);//背景色
   margin: 0 -15px;

   p {
      color: white;
     margin-top: 10px;
   }
  }


//sidebar背景色
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: rgb(197, 47, 36);//背景色
}
.nav-pills .nav-pills :hover,
.nav-pills .nav-pills :focus {
    color: rgb(25,187,49);//
}


//送mac
.dibusongmac{}
.dibusongmactext {
  color:#272C34;
  margin-top: 150px;
  text-align: center;
}
.dibusongmacimage{
text-align:center!important;
    margin: 0 25% ; /*水平居中*/
    max-width: 50%;
    height: auto;
}

  // // 轮播图 game
  // .carousel {
  //   width: 564px;
  //   height:238px;
  //   margin: 0 auto;
  // }
  // .carousel .item {
  //   height: 375px;
  //   margin: 0 auto;
  // }
  //
  // // col居中
  // .col-centered{
  //   float:none;
  //   margin:0 auto;
  // }
  //
  // // 小游戏文字居中
  // .game{
  //   text-align:center
  // }

// 按钮属性
// 颜色
.btn-danger {
     color: #ffffff;//字体颜色
     background-color: #D52E28;//背景颜色
     border-color: #D52E28  ;//边框颜色
 }
 .btn-danger:hover {
      color: #ffffff;//字体颜色
     background-color: #071BC7;//鼠标放置在btn上的背景颜色
     border-color: #071BC7;//鼠标放置在btn上的边框颜色
 }
 .btn-success{
      color: #ffffff;//字体颜色
      background-color: #5CB85C;//背景颜色
      border-color: #5CB85C  ;//边框颜色
  }
  .btn-success:hover {
       color: #ffffff;//字体颜色
      background-color: #071BC7;//鼠标放置在btn上的背景颜色
      border-color: #071BC7;//鼠标放置在btn上的边框颜色
  }

//元件表名上下款
  .panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
// 找bug列表 丢bug位置
.diubug{
  margin-top : 12px;
  margin-right: 15px;
}
// 找bug列表 排序位置
.paixu{
  margin-top : 12px;
  margin-bottom:  15px;
  margin-right: 5px;
}

// 搜索栏
// .navbar-left {
//   margin: 20px auto;
//   width: 50px;
//   height: 10px;
//
// }
input-group {
  background: transparent;
border: none;
bottom: 0;
box-sizing: border-box;
left: 0;
margin: 0;
outline: none;
padding: 0 8px;
position: absolute;
top: 2px;
width: 100%;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

// search show
.searchcenter{
  text-align:center
}

// 第四屏链接颜色
.sicolor
{
  color: #D52E28  ;
}
a {
    color: #D52E28;
    text-decoration: none;
}
  a:hover, a:focus {
      color: #FFEB3B;
      text-decoration: underline;
  }
// 调整滚
element.style {
    height: auto!important;
    background-color: rgba(27, 188, 155,100%)!important;
}



// 滚


 /**
  * fullPage 2.4.6
  * https://github.com/alvarotrigo/fullPage.js
  * MIT licensed
  *
  * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
  */
 html, body {
     margin: 0;
     padding: 0;
    //  overflow: hidden;

     /*Avoid flicker on slides transitions for mobile phones #336 */
     -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 #superContainer {
     height: 100%;
     position: relative;

     /* Touch detection for Windows 8 */
     -ms-touch-action: none;

     /* IE 11 on Windows Phone 8.1*/
     touch-action: none;
 }
 .fp-section {
     position: relative;
     -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
     -moz-box-sizing: border-box; /* <=28 */
     box-sizing: border-box;
 }
 .fp-slide {
     float: left;
 }
 .fp-slide, .fp-slidesContainer {
     height: 100%;
     display: block;
 }
 .fp-slides {
     z-index:1;
     height: 100%;
     overflow: hidden;
     position: relative;
     -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
     transition: all 0.3s ease-out;
 }
 .fp-section.fp-table, .fp-slide.fp-table {
     display: table;
     table-layout:fixed;
     width: 100%;
 }
 .fp-tableCell {
     display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
 }
 .fp-slidesContainer {
     float: left;
     position: relative;
 }
 .fp-controlArrow {
     position: absolute;
     z-index: 4;
     top: 50%;
     cursor: pointer;
     width: 0;
     height: 0;
     border-style: solid;
     margin-top: -38px;
 }
 .fp-controlArrow.fp-prev {
     left: 15px;
     width: 0;
     border-width: 38.5px 34px 38.5px 0;
     border-color: transparent  #D52E28 transparent transparent;
 }
 .fp-controlArrow.fp-next {
     right: 15px;
     border-width: 38.5px 0 38.5px 34px;
     border-color: transparent transparent transparent  #D52E28;
 }
 .fp-scrollable {
     overflow: scroll!important;

 }
 .fp-notransition {
     -webkit-transition: none !important;
     transition: none !important;
 }
 #fp-nav {
     position: fixed;
     z-index: 100;
     margin-top: -32px;
     top: 50%;
     opacity: 1;
 }
 #fp-nav.right {
     right: 17px;
 }
 #fp-nav.left {
     left: 17px;
 }
 .fp-slidesNav{
     position: absolute;
     z-index: 4;
     left: 50%;
     opacity: 1;
 }
 .fp-slidesNav.bottom {
     bottom: 17px;
 }
 .fp-slidesNav.top {
     top: 17px;
 }
 #fp-nav ul,
 .fp-slidesNav ul {
   margin: 0;
   padding: 0;
 }
 #fp-nav ul li,
 .fp-slidesNav ul li {
     display: block;
     width: 14px;
     height: 13px;
     margin: 7px;
     position:relative;
 }
 .fp-slidesNav ul li {
     display: inline-block;
 }
 #fp-nav ul li a,
 .fp-slidesNav ul li a {
     display: block;
     position: relative;
     z-index: 1;
     width: 100%;
     height: 100%;
     cursor: pointer;
     text-decoration: none;
 }
 #fp-nav ul li a.active span,
 .fp-slidesNav ul li a.active span {
     background: #333;
 }
 #fp-nav ul li a span,
 .fp-slidesNav ul li a span {
     top: 2px;
     left: 2px;
     width: 8px;
     height: 8px;
     border: 1px solid #000;
     background: rgba(0, 0, 0, 0);
     border-radius: 50%;
     position: absolute;
     z-index: 1;
 }
 #fp-nav ul li .fp-tooltip {
     position: absolute;
     top: -2px;
     color: #fff;
     font-size: 14px;
     font-family: arial, helvetica, sans-serif;
     white-space: nowrap;
     max-width: 220px;
    overflow: hidden;
     display: block;
     opacity: 0;
     width: 0;
 }
 #fp-nav ul li:hover .fp-tooltip {
     -webkit-transition: opacity 0.2s ease-in;
     transition: opacity 0.2s ease-in;
     width: auto;
     opacity: 1;
 }
 #fp-nav ul li .fp-tooltip.right {
     right: 20px;
 }
 #fp-nav ul li .fp-tooltip.left {
     left: 20px;
 }
