<div id="gotop">回到<br/>顶部</div><“回到顶部“>

<footer class="text-center">
  <div class="footer-below">
      <p class="text-center">Copyright ©2016 Rails101
          <br>Design by yhhkln
      </p>
  </div>
</footer>
